<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="header_dash">
        <h1>24/7 Workout</h1>
        <div class="mini_header">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <a href="/workouts"><button>Dashboard</button></a>
            <a href="/logout"><button>Logout</button></a>
        </div>
    </div>



    <form action="/workout/update/{{workout.id}}" method="POST">

        {% with messages = get_flashed_messages(category_filter=['new_workout']) %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: red">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}



        <div class="bigcontainer">
            <div class="container">
                <div class="left_column">
                    <div class="centered-inline">
                        <h3 >Edit This Workout</h3>
                    </div>
                    <input type="hidden" name="id" value="{{workout.id}}">
                    <input type="hidden" name="user_id" value="{{workout.user_id}}">
                    <label for="field1" class="text-black">Location:</label>
                    <input type="text" name="location" class="form-control" value="{{workout.location}}">
                    <br>
                    <br>
                    <label for="field2" class="text-black">Date of workout:</label>
                    <input type="date" id="date" name="selectedDate" value="{{workout.date}}">
                    <br>
                    <br>
                    <label for="field2" class="text-black">Number of Workouts:</label>
                    <input type="number" id="date" name="number_of_sasquatches"
                        value="{{workout.number_of_sasquatches}}" min="1">
                    <br>
                    <br>
                    <label for="field2" class="text-black">What Happened?:</label>
                    <br>
                    <textarea type="text" style="height: 150px; width:365px" name="what_happen"
                        class="form-control">{{workout.what_happen}}</textarea>
                    <br>
                    <input type="submit" value="Report" class="btn">
                </div>
            </div>
        </div>

    </form>


</body>

</html>