@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@100&display=swap');

/* initializes html */
* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', sans-serif;
}

.the_sighting {
    border: 2px solid black;
}

table {
    width: 100%;
  }
  
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  


.register_box, .login_box {
    padding: 10px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    width: 39px;
}





  
.header, .header_dash {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.mini_header {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.bigcontainer {
    display: flex;
    justify-content: center;
}
.first, .second, .third, .container{
    display: flex;
    justify-content: end;
    align-items: start;
}
.options{
    display: flex;
    justify-content: space-between;
}
.right_column{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}
.mini_top {
    display: flex;
    flex-direction:column;
}